<section>
    <div class="steps-title center-txt">
        <p class="title bold-text">Getting started is easy</p>
        <span class="subtitle">Earn Stars and get rewarded in a few easy steps.</span>
    </div>

    <div class="card-list">
        <div class="card text-center" *ngFor="let content of cardContent; let i = index">
            <img src="{{imgPath}}/{{content.img}}" width="50" height="50">
            <div class="card-body">
                <p class="bold-text" [innerHTML]="screenW <= 1024 && i === 0 ? 'Download the Starbucks® app' : content.title"></p>
                <p class="card-text" [ngClass]="screenW <= 1024 ? 'fs-13' : 'fs-16'" [innerHTML]="content.text"></p>
            </div>
          </div>
    </div>
</section>
