section { padding: 8em 3em; }

@media screen and (max-width: 1024px) {
    section { 
        padding: 3.5rem 1em; 
        .steps-title {
            margin-bottom: 20px !important;
            p { font-size: 24px; }
            span { font-size: 14px; letter-spacing: 0; }
        }        
    }    
}