<section>
    <ul class="social-icons d-flex">
        <li class="d-flex"><a class="decor-none" href="https://open.spotify.com/user/starbucks" target="_blank">&#xf1bc;</a></li>
        <li class="d-flex"><a class="decor-none" href="https://facebook.com/starbucks" target="_blank">&#xf09a;</a></li>
        <li class="d-flex"><a class="decor-none" href="https://www.pinterest.com/starbucks/" target="_blank">&#xf0d2;</a></li>
        <li class="d-flex"><a class="decor-none" href="https://instagram.com/starbucks" target="_blank">&#xf16d;</a></li>
        <li class="d-flex"><a class="decor-none" href="https://www.youtube.com/starbucks" target="_blank">&#xf167;</a></li>
        <li class="d-flex"><a class="decor-none" href="https://x.com/starbucks/" target="_blank">&#xe61b;</a></li>
    </ul>

    <ul class="list">
        <li><a class="decor-none" href="https://www.starbucks.com/terms/privacy-notice/" target="_blank">Privacy Notice</a></li>
        <li><a class="decor-none" href="https://www.starbucks.com/terms/privacy-notice/" target="_blank">Consumer Health Privacy Notice</a></li>
        <li><a class="decor-none" href="https://www.starbucks.com/terms/starbucks-terms-of-use/" target="_blank">Terms of Use</a></li>
        <li><a class="decor-none" href="https://www.starbucks.com/personal-information" target="_blank">Do Not Share My Personal Information</a></li>
        <li><a class="decor-none" href="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-70076.pdf" target="_blank">CA Supply Chain Act</a></li>
        <li><a class="decor-none" href="https://www.starbucks.com/about-us/accessibility/" target="_blank">Accessibility</a></li>
        <li><a class="decor-none" >Cookie Preferences</a></li>

        <span class="subtitle">&#169; 2025 Starbucks Coffee Company. All rights reserved.</span>
    </ul>
    
</section>