<section>
    <div class="favs-title text-center cultured">
        <p class="title bold-text">Get your favorites for free</p>
        <div id="carousel" class="carousel slide carousel-fade chinedeWh">
            <div class="carousel-indicators d-flex cultured">
              <button data-bs-target="#carousel" [ngClass]="i == 0 ? 'active' : ''" *ngFor="let item of content; let i = index" aria-current="true" 
                attr.data-bs-slide-to="{{i}}" attr.aria-label="Slide {{i}}">{{item.no}}<span> &#xf005;</span>
              </button>        
            </div>   
            <div class="carousel-inner">
              <div class="d-flex chinedeWh" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'" *ngFor="let option of content; let i = index">
                <img src="{{option.src}}" class="d-block">
                <div class="inner-content">
                    <p class="title noto-font bold-text">{{option.title}}</p>
                    <span>{{option.text}}</span>
                </div>                
              </div> 
            </div>                
        </div>
    </div>
</section>
