section {
    padding: 2em;
    background: url('https://www.starbucks.com/app-assets/844262945b2a8b8cfb29.png') no-repeat top center / cover;

    .content {
        padding: 3em 0; 
        .card-list {
            gap: 0; justify-content: space-around;
            .card {
                width: 355px; background-color: transparent;
            }
        }
        .radius-btn { color: #FFF !important; }       
    }
}

.questions {
    padding: 6em 6em 8em 15em; 
    .text-content { width: 635px; }
}

@media screen and (max-width: 1024px) {
    section {
        background: none; padding: 0;
        .content {            
            .card-list {
                padding: 0 1em;
                .card { 
                    width: 100%; margin-bottom: 15px;
                    img { width: 112px !important; height: auto !important; }                                   
                }
            }
        }       
    }
    .questions { 
        padding: 4em 1em; 
        .text-content { width: 100%; }
    }    
}

@media screen and (max-width: 768px) {
    section {
        .content { padding-inline: 1em; }
    }    
}