@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* { 
    padding: 0; margin: 0; 
    box-sizing: border-box; font-family: "Noto Sans", serif, FontAwesome;
    &::before, &::after { box-sizing: border-box; }
}
/* Color Palette */
:root {
    --mediumJungleGreen: #1e3932; --philippineGreen: #008248; --chineseWhite: #d4e9e2; --cultured: #f1f8f6; 
    --alabaster: #f3f1e7; --gold: #cba258;
}
html, body { max-width: 100%; overflow-x: hidden; }
body {
    width: 100%; height: fit-content; position: relative;
    padding-right: 0 !important;
}
/* Modal .show */
body.modal-open { overflow-y: hidden !important; }

h3, button { color: rgba($color: #000000, $alpha: .85); }
.steps-title, .extras-title, .payment-title, .rewards-title { margin-bottom: 50px !important; }

a { 
    color: var(--black) !important; 
    &:hover { text-decoration: none; }
}
.step_link, .extras-link, .footer-link { color: var(--philippineGreen) !important; }
.step_link, .footer-link {
    span { font-size: 9px; }
}

button, .join-btn, .radius-btn {
    font-weight: bold !important;
    border-radius: 20px !important; padding-inline: 1em !important; 
}
.btn-success { 
    background-color: var(--philippineGreen) !important; transition: all .25s;
    &:hover { opacity: .95; }
}

/* Text Format Classes */
h3, .nav-link { text-transform: uppercase; font-weight: bold; }
.header-title { font-size: 35px; line-height: 1.5; }

/* Section Title - Subtitle */
.title { font-size: 28px; } 
.subtitle { letter-spacing: 1px; }

.center-txt { text-align: center; } 
.bold-text { font-weight: bold !important; }

/* Font-size classes */
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-24 { font-size: 24px; }
.decor-none { text-decoration: none; }

/* margin - padding - border: 0 */
h3, .carousel-indicators, .carousel-indicators button, ul { margin: 0; }
.navbar, .navbar-toggler, .card, .carousel-indicators button, .dropdown-menu, .modal-header { border: 0; }

ul { list-style: none; }

/* Background classes */
.cultured { background-color: var(--cultured); }
.chinedeWh { background-color: var(--chineseWhite) !important; }
.mjGreen { background-color: var(--mediumJungleGreen); }
.offcanvas-backdrop { background-color: transparent !important; }

/* Cards */
.card-list {        
    display: flex; justify-content: center; flex-wrap: wrap; gap: 25px;
    .card {
        width: 350px; align-items: center;
        .card-body {
            .card-text {  font-weight: 500; } 
            button {
                background-color: transparent; border: 0;
                text-decoration: underline;
            }            
        }
    }
}

/* General Media Styles */
@media screen and (max-width: 1024px) {
    .title { font-size: 24px; }

    /* Navbar */
    .navbar { 
        padding: 1em !important; border-bottom: 2px solid var(--alabaster);
        .navbar-brand {
            img { width: 40px; height: 40px; }
        }  
    }    

    /* Cards */
    .card-list {
        flex-direction: column; gap: 5px;
        .card {
            width: 100%; flex-direction: row;
            text-align: left !important;
        }
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        .show { width: 80% !important; top: 0% !important; }
        .container-fluid {
            flex-wrap: wrap; 
            .find-store { 
                flex-basis: 100%; margin-inline: 0 !important; margin-bottom: 10px !important;
            }
        }
    }
    .card {       
        .card-body { padding: 0 0 0 1em; }
    }    
}